.App {
	width: 100 vw;
	max-height: 100 vh;
	height: 100vh;
	background-color: #f6f1ed;
	color: #6a5750;
	font-family: 'Roboto', sans-serif;
}
h1 h2 {
	color: #30231d;
	font-family: 'Sigmar One', cursive;
}

h3 {
	padding-top: 0;
	margin-top: 0;
}

.nav {
	position: fixed;
	bottom: 0;
	background-color: #b5a397;
}

.slick-next::before {
	background-color: #6a5750;
	border-radius: 50%;
}

.slick-prev::before {
	background-color: #6a5750;
	border-radius: 50%;
}
